// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

//Color
$primary: #fac0b7;
$secondary: #1f1e1d;
$success: #e52a71;
$btn-close-bg: url("");
